{% extends "main.html" %}

{% block extrahead %}
  <meta name="custom-meta" content="Added via Zensical Layout">
  {{ super() }}
{% endblock %}



{% for member in page.meta.members %}
  <div class="member-card">
    <h3>{{ member.name }}</h3>
    <p>{{ member.role }}</p>
  </div>
{% endfor %}


{% block content %}

  <div class="custom-wrapper">
    <h1>Special Layout Header</h1>
    
    {# This renders your Markdown content #}
    <article class="md-content">
      {{ page.content }}
    </article>
    
    <footer class="custom-layout-footer">
      This page uses the Zensical custom layout.
    </footer>
  </div>

{% endblock %}