{% extends "main.html" %}


{% block content %}


<!-- {# Initialize a variable to track the year change #} -->
{% set last_year = "" %}

{% for item in page.meta.cv_data %}

    <!-- {# get the year from the fata strimg #} -->
    {% set current_year = item.date[:4] %}

    <div style="position: relative;">

        <!-- {# If the year is different from the last one, print the H1 #} -->
        {% if current_year != last_year %}
        <p style="margin-top: 0px;  position: absolute; left: -60px; font-size: 12pt; font-weight: lighter; color: #777;" id="{{ current_year }}" >
            {{ current_year }}
        </p>
        {% set last_year = current_year %}
        {% endif %}
        
        <div style="max-width: 400pt; padding-bottom: 6px; border-bottom: 1px solid #292929;;">
            <p>
                <span style="font-weight: bold; font-size: 12pt;">{{ item.client_name }}</span>
                <span style="font-weight: lighter; font-size: 12t; color: #999;">  | {{ item.title }}</span>
            </p>
            <p style="margin-top: -10px; font-weight: lighter; font-size: 12pt; color: #777;">{{ item.info }}</p>
        </div>
    </div>

{% endfor %}



<!-- this draws a simple TOC. Look into using the real one
<div>
  <ul>
    
    {% set last_year = "" %}

      {% for item in page.meta.cv_data %}

        {% set current_year = item.date[:4] %}

        {% if current_year != last_year %}
        
            <li>
              <a href="#{{ current_year }}">{{ current_year }}</a>
            </li>
                  
          {% set last_year = current_year %}

        {% endif %}

      {% endfor %}

  </ul>
</div> -->


{% endblock %}





